<%- include("./Partials/head.ejs") %>
<div class="carts">
<h1>Your Cart</h1>
<div class="products">
<% if (locals.products) { %>
    <div class="Cartproduct" >
        <% locals.products.forEach((product)=>{%>
            <div class="card" id="<%= product.id %>" style="width: 18rem; margin: 10px; padding: 10px; position: relative;" >
                <img src="<%= product.imageURL %>">
                <h5><%= product.name %></h5>
                <p>Description: <%= product.description %></p>
                <p class="pquantity" id="<%= product.quantity %>">Quantity: <%= product.quantity %></p>
                <p>Price:</p><p class="price"><%= product.price %></p>
                <div style="display: flex; justify-content: center; margin: 10px 0;">
                    <button class="increase" id="<%= product.id %>">+</button>
                    <input value="<%= product.cquantity %>" style="width: 40px;" class="quantity" disabled>
                    <button class="decrease" id="<%= product.id %>">-</button>
                </div>
                
                <!-- <h5>BY: </h5> -->
                 <div style="display: flex; flex-direction: row;">
                    <button class="btn btn-primary placeOrder" style="margin-left: 10px;" id="<%= product.id %>">Order Now</button>
                    <button class="btn btn-danger removeCart" style="margin-left: 50px;" id="<%= product.id %>">Remove</button>
                </div>
            </div>
        <% }) %>
        
        
    </div>
    <% if(locals.products.length!=0){ %>
        <div class="cartBottom">
            <div style="display: flex; flex-direction: row; gap: 0;"> 
                <label for="TotalAmount" style="font-weight: bold;">Total Amount: </label>
                <p class="totalamount" ><%= locals.sum %> </p>
            </div>
            <button class="buyall">Buy All</button>
        </div>
    <% } %>

<% }%>
</div>
<%if(locals.products.length==0){ %>
    <h1>Oops!! nothing in your cart</h1>
<% } %>
</div>
<script>
    const removeCart=document.getElementsByClassName("removeCart");
    for(let i=0;i<removeCart.length;i++){
        removeCart[i].addEventListener("click",async (event)=>{
            await fetch("/cart/remove",
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        id: event.target.id
                    })
                }
            ).then((response)=>{
                //deletefrom UI
                document.getElementById(event.target.id).remove();
                return response.json();
                // return response.json()
            }).then((data)=>{
                alert(data.message);
                // alert(data);
            }).catch((error)=>{
                alert("Error: "+error);
            });
        })
    };

    const placeOrder=document.getElementsByClassName("placeOrder");
    for(let i=0;i<placeOrder.length;i++){
        placeOrder[i].addEventListener("click",async function(){
            let totalQuantity=Number(this.closest(".card").querySelector(".quantity").value);
            let totalPrice=Number(this.closest(".card").querySelector(".price").innerText);
            const result=await fetch("/cart/buyOne",{
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    id: event.target.id,
                    quantity:totalQuantity,
                    price:totalPrice
                })
            });
            console.log(result);
            if(result.status==200){
                let total=document.querySelector(".totalamount");

                total.innerText=Number(total.innerText)-totalPrice*totalQuantity;

                this.closest(".card").remove();
            }
                // if(response.parse()){

                //     // let total=document.querySelector(".totalamount");

                //     // total.innerText=Number(total.innerText)-totalPrice*totalQuantity;

                //     // this.closest(".card").remove();
                else{
                    alert("Sorry  can not purchase the product");
                }
            
        })
    };

    const incbtn=document.getElementsByClassName("increase");
    const decbtn=document.getElementsByClassName("decrease");

    for(let i=0; i<decbtn.length; i++){
        decbtn[i].addEventListener("click", async function() {
            const id = this.id;
            let quantity=Number(this.closest(".card").querySelector(".quantity").value)
            quantity--;
            let price=Number(this.closest(".card").querySelector(".price").innerText);
            console.log(price);
            if(quantity==0){
                alert("Quantity cannot be less than 1");
                return;
            }
            await fetch("/cart",{
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    id: id,
                    quantity: quantity,
                })
            })
            let total=document.querySelector(".totalamount");
            total.innerText=Number(total.innerText)-Number(price);
            this.closest(".card").querySelector(".quantity").value=quantity;
            console.log(quantity);
        });
    }

    for(let i=0; i<incbtn.length; i++){
        incbtn[i].addEventListener("click",async function() {
            const id = this.id;
            let quantity=Number(this.closest(".card").querySelector(".quantity").value)
            quantity++;
            let pquantity=this.closest(".card").querySelector(".pquantity").id;
            if(pquantity<quantity){
                alert("Quantity cannot be more than available");
                return;
            }
            let price=Number(this.closest(".card").querySelector(".price").innerText);
            console.log(price);
            await fetch("/cart",{
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    id: id,
                    quantity: quantity,
                })
            })
            let total=document.querySelector(".totalamount");
            total.innerText=Number(total.innerText)+price;
            this.closest(".card").querySelector(".quantity").value=quantity;
            console.log(quantity);
        });
    }

    const buyall=document.querySelector(".buyall");
    buyall.addEventListener("click",async function(){
        await fetch("/cart/buyall",{
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
       .then((response)=>{
            window.location.href="/cart";
       });
    //    this.parentNode.parentNode.querySelector(".Cartproduct").remove();
    //    document.querySelector(".cartBottom").remove();
    //    this.closest(".Cartproduct").remove();f
    });
</script>
<%- include("./Partials/footer.ejs") %>