<%- include("./Partials/head.ejs") %>
<h1>Want to Order:</h1>
<% if (locals.product) { %>
    <div class="Cartproduct">
            <div class="card" id="<%= product._id %>" style="width: 18rem; margin-bottom: 15px;" >
                <img src="<%= product.imageURL %>">
                <h5><%= product.name %></h5>
                <p>Description: <%= product.description %></p>
                <p>Quantity: <%= product.quantity %></p>
                <p>Price: <%= product.price %></p>
                <h5>BY: <%= product.seller %></h5>
                
                 <div >
                    <label for="Quantity">Quantity</label>
                    <form action="/order/place" method="POST">
                        <div style="display:flex; flex-direction: row;">
                            <input type="hidden" id=`${product._id}` name="id" value="<%= product._id %>">
                            <input type="number" id="quantity" name="quantity" min="1">
                            <button class="btn btn-primary" style="margin-left: 10px;">Order</button>
                        </div>
                    </form>
                    
                    
                </div>
                <a href="/cart" class="btn btn-danger removeCart" id="<%= product._id %>">Cancel</a>
            </div>
            <!-- <form id="cartForm" action="" method="POST">
                <input type="hidden" id="productId" value=" %>">
                <input type="number" id="cartQuantity" placeholder="Enter Quantity" min="1">
                <button type="submit">Place Order</button>
            </form> -->
    </div>
    
<% } %>
<%- include("./Partials/footer.ejs") %>